@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    background: #F5F5F5;
    height: 200px;
}

.container__header{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo img{
    width: 180px;
}


.menu nav ul{
    display: flex;
}

.menu nav ul li{
    list-style: none;
    padding: 0px 30px;
}

.menu nav ul li a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: opacity 300ms;
}

.menu nav ul li a:hover{
    opacity: 0.6;
}


.register input,
.buttons__cover .register{
    padding: 14px 50px;
    border: none;
    background: black;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background, color, 300ms;
}   

.register input:hover,
.buttons__cover .register:hover{
    background: #69F1A1;
    color: black;
}


/*PORTADA - COVER*/

main{
    height: calc(100vh + 800px);
    background: #F5F5F5;
}

.container__cover{
    max-width: 1200px;
    margin: auto;
}

.cover{
    padding-top: 60px;
    display: flex;
}

.text__information{
    width: 50%;
}

.text__information h1{
    font-size: 60px;
}

.text__information p{
    font-size: 28px;
    margin-top: 40px;
}

.buttons__cover{
    display: flex;
    margin-top: 40px;
}

.buttons__cover .read-more{
    padding: 14px 40px;
    border: none;
    background: white;
    color: black;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background 300ms;
    margin-left: 10px;
}

.buttons__cover .read-more:hover{
    background: #E8E8E8;
}

.media__cover{
    width: 40%;
    
}

.media__cover video{
    width: 600px;
    margin-top: -20px;
}

/*BANNER*/

.container__banner{
    max-width: 1200px;
    margin: auto;
    margin-top: 80px;
}

.banner{
    height: 250px;
    display: flex;
    align-items: center;
    background: #121214;
    position: relative;
}

.banner .icon{
    width: 40%;
}


.banner .text{
    width: 60%;
    position: relative;
}

.banner .text h2{
    color: white;
    font-size: 32px;
    font-weight: 400;
}

.banner .text input{
    margin-top: 20px;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: color 300ms;
}

.banner .text input:hover{
    color: #69F1A1;
}

.img__icon-fire{
    height: 80%;
    position: absolute;
    right: 10px;
    overflow: hidden;
}

#icon_heart{
    width: 300px;
    margin-top: 80px;
    position: relative;
    filter: drop-shadow(-40px 0px 30px rgba(0,0,0,0.5));
}
#icon_fire{
    width: 300px;
    position: relative;
    margin-top: -100px;
    opacity: 0.6;
}

/*carrousel*/

.content-all{
    width: 210px;
    margin: auto;
    perspective: 800px;
    position: relative;
    margin-top: 50px;
}

.content-carrousel{
    width: 100%;
    position: absolute;
    animation: rotar 10s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}


.content-carrousel figure{
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
    
}

.content-carrousel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(40deg) translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(80deg) translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(120deg) translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(160deg) translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(200deg) translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(240deg) translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(280deg) translateZ(300px);}
.content-carrousel figure:nth-child(9){transform: rotateY(320deg) translateZ(300px);}
.content-carrousel figure:nth-child(10){transform: rotateY(360deg) translateZ(300px);}

.content-carrousel img{
    width: 100%;
    transition: all 300ms;
}

.content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}


@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}


